.services-list {
  list-style: none;
  padding: 0;
  line-height: 2;
  text-align: center; 
}

.services-list li {
  margin: 20px 0;
  font-size: 22px;
  color: #081839;
  font-size: 18px;
  letter-spacing: -.5px;
  line-height: 26px;
  text-align: justify;
  width: 90%;
  position: relative;
  font-weight: 600;
  margin-right: 30px;
}

.services-list li::before {
  content: "✔";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px; 
  background-color: #4CC9FE;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: -35px; 
  top: 50%;
  transform: translateY(-50%); 
}

button {
  margin: 20px auto; 
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CC9FE;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

button:hover {
  background-color: #4CC9FE; 
}
