body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(to bottom, #329393 50%, white 50%);
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  #root {
    position: relative;
    overflow: hidden;
  }
  
  #root::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #a3e2d9;
    z-index: -1;
  }
  
  
  #root::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 72%;
      background: white;
      z-index: -1;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 70%, 20% 80% , 40% 70% , 60% 80% ,80% 70% );
  }